.app-container {
    display: flex;
    background-color: rgb(248, 235, 213);
    height: 100vh; /* Full height of the viewport */

}

.main-content {
    flex-grow: 1; /* Takes the remaining space */
    padding: 20px; /* Padding around the content */
    overflow-y: scroll;
}

.surah-table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
}

.surah-table td, .surah-table th {
    transition: background-color 0.1s; /* Smooth transition for background color */
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

/* Optional: Add more styling as needed */
.surah-table th {
    background-color: transparent;
}

.surah-table td:hover {
    background-color: #ecd7b7; /* Hover state background color */
}